@use 'variables';
@use 'buttons';
@use 'mixins';
@use 'functions';

body {
  margin: 0;
  font-family: variables.$font-family;
  background-color: variables.$gray;
  height: 100vh;
  margin: 0;
}

.card {
  box-sizing: border-box;
  // @include xs {
  //   background: red;
  // }
  // @include xl {
  //   background: orange;
  // }
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 2rem;
  background: white;
  h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid variables.$gray;
    // span {
    //   color: green;
    //   @include xs {
    //     color: red;
    //   }
    // }
  }
  .text {
    color: #333;
  }
  // ul {
  //   @include inline-list;
  // }
  position: absolute;
  left: functions.centerAbsolute(500px);
  top: functions.centerAbsolute(300px);
}

@media only screen and (max-width: 500px) {
  .card {
    background: red;
  }
}
